---
// Import necessary components and data
import Main from "../../layouts/Main.astro";
import StoreCard from "../../components/StoreCard.astro";
import Footer from "../../components/Footer.astro";
import Data from "../../data/Data.json";
import StoreHeadCard from "../../components/StoreHeadCard.astro";
import NavBar from '../../components/NavBar.astro';
import UserBackButton from "../../components/UserBackButton.astro";


export async function getStaticPaths() {
  // Access departments from the imported Data
  const stores = Data.loctype["service center"].locations;
  const paths = stores.flatMap((store) => ({
    params: { storeID: store.id.toString() },
  }));
  return paths;
}

// Fetching the store ID from the URL parameters
const { storeID } = Astro.params;

// Assuming your stores data is located similarly to your employees
const store = Data.loctype["service center"].locations.find(
  (store) => store.id.toString() === storeID
);

if (!store) {
  // Redirect to a 404 page if the store is not found
  return Astro.redirect("/404");
}
---

<Main title={`${store.locName} | Service Center`}>
  <div class="flex flex-col h-screen">
    <section class=" ">
      <StoreHeadCard
        storeHeadCard={[
          {
            title: store.locName,
            subtitle1: "Store Manager ",
            subtitle2: "Area Manager ",
            subtitle3: "",
            address: store.address,
            city: store.city,
            state: store.state,
            zip: store.zipcode.toString(),
            phone: store.phoneNumber,
            email: store.email,
            phone2: "",
            phone3: "",
            storeManager: store.storeManager,
            areaManager: store.areaManager,
          },
        ]}
      />
    </section>
    <div class="divide divide-none divide-y-2 py-0"></div>
    

    <section
    class="flex-grow bg-gradient-to-t from-gray-300 to-slate-200  pb-0 pt-0 no-scrollbar  overflow-y-scroll overscroll-contain scroll-auto scroll-mx-px bg-inherit"
    >
    <section class="shadow-sm drop-shadow-sm">
      <!-- <NavBar /> -->
      <UserBackButton />
    </section>
      <!-- Render the store card with relevant information -->
      <StoreCard
        locName={store.locName}
        locNum={store.locNum}
        phoneNumber={store.phoneNumber}
        faxNumber={store.faxNumber}
        email={store.email}
        address={store.address}
        city={store.city}
        state={store.state}
        zipcode={store.zipcode}
        hours={store.hours}
        data-pagefind-index="locName, locNum, phoneNumber, email, city"
      />
    </section>

    <div class="divide divide-none divide-y-2 py-0"></div>

    <!-- Additional content sections can be added here -->

    <!-- Render the footer with navigation links -->
    <section class="box-border pb-3 mt-0">
      <!-- {/* Render the footer with navigation links */} -->
      <Footer
        bottomNav={[
          { icon: "home", label: "Home", to: "/" },
          { icon: "corporate", label: "Corporate", to: "/corporate" },
          { icon: "store", label: "Metal Mart", to: "/metalmart" },
          // {
          //   icon: "service_center",
          //   label: "Service Center",
          //   to: "/servicecenter",
          // },
          { icon: "plant", label: "Plant", to: "/plant" },
        ]}
      />
    </section>
  </div>
</Main>
