---
import { Icon } from 'astro-icon/components'
import Data from '../../../data/Data.json';
import Main from '../../../layouts/Main.astro';

// Access departments directly based on your JSON structure
const departments = Data.loctype.corporate.locations[0].departments;
console.log(departments);

// export async function getStaticPaths(departments) {
//     const emps = departments.map(dept => dept.employees);
//     return emps.map(emp => ({
//         params: {
//             departmentID: department.id.toString(),
//             employeeID: emp.id.toString()
//         }
//     }));
// };

export async function getStaticPaths() {
    // Access departments from the imported Data
    const departments = Data.loctype.corporate.locations[0].departments;
    const paths = departments.flatMap(department =>
        department.employees.map(employee => ({
            params: {
                departmentID: department.id.toString(),
                employeeID: employee.id.toString(),
            },
        }))
    );

    return paths;
}

const { departmentID, employeeID } = Astro.params;
const department = departments.find(dept => dept.id.toString() === departmentID);
const employee = department?.employees.find(emp => emp.id.toString() === employeeID);
console.log(employee);

if (!employee) {
    return Astro.redirect('/404');
}

---

<Main title={employeeID}>
  <body>
    <h1>{employee.firstName} {employee.lastName}</h1>
    <p>Job Title: {employee.jobTitle}</p>
    <p>Email: {employee.email}</p>
    <p>Phone Number: {employee.phoneNumber}</p>
    <!-- Add more details as needed -->
  </body>
</Main>