---

import Main from "../../../layouts/Main.astro";
import EmployeeHeadCard from "../../../components/EmployeeHeadCard.astro";
import Footer from "../../../components/Footer.astro";
import UserCard from "../../../components/UserCard.astro";
import UserBackButton from "../../../components/UserBackButton.astro";
import Data from "../../../data/Data.json";

// Access departments directly based on your JSON structure
const departments = Data.loctype.corporate.locations[0].departments;
export async function getStaticPaths() {
  // Access departments from the imported Data
  const departments = Data.loctype.corporate.locations[0].departments;
  const paths = departments.flatMap((department) =>
    department.employees.map((employee) => ({
      params: {
        departmentID: department.id.toString(),
        employeeID: employee.id.toString(),
      },
    }))
  );
  return paths;
}
const { departmentID, employeeID } = Astro.params;
const department = departments.find(
  (dept) => dept.id.toString() === departmentID
);
const employee = department?.employees.find(
  (emp) => emp.id.toString() === employeeID
);
if (!employee) {
  return Astro.redirect("/404");
}
---

<Main title={employee.firstName + employee.lastName} transition:animate="none">
  <div class="flex flex-col h-screen">
    <section class="">
      <!-- {/* Render the corporate header card with relevant information */} -->
      <EmployeeHeadCard
        headCard={[
          {
            title: `${department.deptName}`, // Title of the card
            subtitle1: "",
            address: "", // Address line
            city: "", // City
            state: "", // State
            zip: "", // ZIP code
            subtitle2: "",
            phone: "", // Phone number
            email: ``, // Email address
            subtitle3: "", // Third subtitle
            phone2: ``, // Second phone number
          },
        ]}
      />
    </section>
  <div class="divide divide-none divide-y-2 py-0"></div>
  <section
    class="flex-grow flex-col bg-background justify-center pb-0 pt-0 no-scrollbar overflow-y-scroll overscroll-contain scroll-auto scroll-mx-px"
  >
    <section class="shadow-sm drop-shadow-sm">
      <UserBackButton />
    </section>
    <div class="user-card ">
      <UserCard
        firstName={employee.firstName}
        lastName={employee.lastName}
        jobTitle={employee.jobTitle}
        email={employee.email}
        phoneNumber={employee.phoneNumber}
        extension={employee.extension}
        cellNumber={employee.cellNumber}
        data-pagefind-index="firstName, lastName, email, phoneNumber"
      />
    </div>
  </section>

  <div class="divide divide-none divide-y-2 py-0"></div>
  <section class="box-border mt-0 pb-3">
    <!-- {/* Render the footer with navigation links */} -->
    <Footer
      bottomNav={[
        { icon: "home", label: "Home", to: "/" },
        // { icon: "corporate", label: "Corporate", to: "/corporate" },
        { icon: "store", label: "Metal Mart", to: "/metalmart" },
        {
          icon: "service_center",
          label: "Service Center",
          to: "/servicecenter",
        },
        { icon: "plant", label: "Plant", to: "/plant" },
      ]}
    />
  </section>
</Main>
