---
import { Icon } from 'astro-icon/components'
import Data from '../../../../data/Data.json';
import Main from '../../../../layouts/Main.astro';
import CorpHeadCard from '../../../../components/CorpHeadCard.astro';
import EmployeeHeadCard from '../../../../components/EmployeeHeadCard.astro';
import Footer from '../../../../components/Footer.astro';
import SearchBar from '../../../../components/SearchBar.astro';
import UserCard from '../../../../components/UserCard.astro';
import NavBar from '../../../../components/NavBar.astro';
import UserBackButton from '../../../../components/UserBackButton.astro';



const locations = Data.loctype.plant.locations;
const departments = locations.flatMap(location => location.departments);
const employees = departments.flatMap(department => department.employees);

export async function getStaticPaths() {
  const locations = Data.loctype.plant.locations;
  const departments = locations.flatMap(location => location.departments);
  const employees = departments.flatMap(department => department.employees);
  
  const paths = locations.flatMap(location =>
        location.departments.flatMap(department => 
          department.employees.map(employee => ({
            params: {
                locationID: location.id.toString(),
                departmentID: department.id.toString(),
                employeeID: employee.id.toString(),
            },
            props: {
                location: location,
                department: department,
                employee: employee,
            },
            
        }))
        
    ));
    // console.log(employees);
    // console.log(paths); 
    return paths;
}



const { departmentID, employeeID, locationID } = Astro.params;
const location = Data.loctype.plant.locations.find(loc => loc.id.toString() === locationID);
// console.log(location);
const department = location?.departments.find(dept => dept.id.toString() === departmentID);
// console.log(department);
const employee = department?.employees.find(emp => emp.id.toString() === employeeID);
// console.log(employee);

if (!employee) {
    return Astro.redirect('/404');
}

---

<Main title={employee.firstName + employee.lastName}>
  <div class="flex flex-col h-screen">
    <section class=" align-text-bottom ">
        <!-- {/* Render the corporate header card with relevant information */} -->

        <EmployeeHeadCard
            headCard={[
            {
                title: `${department?.deptName}`, // Title of the card
                subtitle1: "",
                address: "", // Address line
                city: "", // City
                state: "", // State
                zip: "", // ZIP code
                subtitle2: "",
                phone: "", // Phone number
                email: ``, // Email address
                subtitle3: "", // Third subtitle
                phone2: ``, // Second phone number
            },
            ]}
            
         
        />
        </EmployeeHeadCard>
        
      </section>
      <div class="divide divide-none divide-y-2 py-0"></div>

      

      <section <section class="flex-grow bg-gradient-to-t from-gray-300 to-slate-200  pb-0 pt-0 no-scrollbar overflow-y-scroll overscroll-contain scroll-auto scroll-mx-px " 
      >

      <section class="shadow-sm drop-shadow-sm">
        <!-- <NavBar /> -->
        <UserBackButton />
      </section>
        
          <div class="user-card ">

            <UserCard 
            firstName={employee.firstName}
            lastName={employee.lastName}
            jobTitle={employee.jobTitle}
            email={employee.email}
            phoneNumber={employee.phoneNumber}
            extension={employee.extension}
            cellNumber={employee.cellNumber}
            data-pagefind-index="firstName, lastName, email, phoneNumber"
            />
           
          </div>
      </section>

    
      <div class="divide divide-none divide-y-2 py-0"></div>
      <section class="box-border pb-3 mt-0">
        <!-- {/* Render the footer with navigation links */} -->
        <Footer
          bottomNav={[
            { icon: "home", label: "Home", to: "/" },
            { icon: "corporate", label: "Corporate", to: "/corporate" },
            { icon: "store", label: "Metal Mart", to: "/metalmart" },
            {
              icon: "service_center",
              label: "Service Center",
              to: "/servicecenter",
            },
            // { icon: "plant", label: "Plant", to: "/plant" },
          ]}
        />
      </section>
  </div>
</Main>

<script>
  
</script>


<!-- <script>
    window.onload = function () {
        const p_elements = document.querySelectorAll("p");

        p_elements.forEach((element) => {
            if (element.textContent = "") {
                element.style.display = "none";
            }
        })


    }
</script> -->