---
type Props = {
  storeHeadCard: {
    title: string;
    subtitle1: string;
    address: string;
    city: string;
    state: string;
    zip: string;
    subtitle2: string;
    phone: string;
    email: string;
    subtitle3: string;
    phone2: string;
    phone3: string;
    storeManager: string;
    areaManager: string;
  }[];
};

// Extract storeHeadCard data from Astro's props
const { storeHeadCard } = Astro.props;

---

<!-- Container for store head cards -->
<div class=" bg-gradient-to-tl from-cyan-600 to-sky-800 text-primary-content border-slate-100 border-opacity-20 box-decoration-clone w-dvw h-48 ">
   <!-- Mapping through each card in storeHeadCard array -->
  {
    storeHeadCard.map((card) => (
        <div class=" grid grid-cols-1 border-x-[3px] border-y-[3px] border-transparent rounded-md pt-0 pb-0 mb-0">
          <h2 class=" text-center font-light uppercase text-3xl line-clamp-2 divide-y-[1px] pt-2 px-2 tracking-wide ">{card.title}</h2>
          <!-- Divider line -->
          <div class="w-lvw p-0 m-0 border-b-2 border-slate-100 border-opacity-20 "></div>
          <!-- Sections for displaying contact information -->
          <table class=" table-fixed border-collapse ">
            <thead class="  ">
              <tr class=" border border-b-2 border-t-0 border-l-0 border-r-0 border-slate-100  ">
                <th class="border border-slate-100 border-b-2 border-opacity-50 border-t-0 border-x-0 w-lvw p-0 pe-4 pt-1 m-0 border-r-2 text-sm tracking-wider uppercase text-right bg-primary ">Territory</th>
                <th class="border border-slate-100 border-b-2 border-opacity-50 border-t-0 border-x-0 w-lvw p-0 pt-1 m-0 border-l-2 text-sm tracking-wider  uppercase text-left ps-4 bg-primary  ">MANAGER</th>
              </tr>
            </thead>
            <tbody class=" mt-10 " >
              <tr class="text-sm  ">
                <td class="pe-4 text-right border border-slate-100 border-opacity-20 border-l-0  ">{card.subtitle1}</td>
                <td class="ps-4 border border-slate-100 border-opacity-20 border-r-0 ">{card.phone}</td>
              </tr>
              <tr class="text-sm">
                <td class="pe-4 text-right border border-slate-100 border-opacity-20 border-l-0 ">{card.subtitle2}</td>
                <td class="ps-4 border border-slate-100 border-opacity-20 border-r-0 ">{card.phone2}</td>
              </tr>
              <tr class="text-sm">
                <td class="pe-4 text-right pt-0.5 pb-0.25 border border-slate-100 border-opacity-20 border-l-0 ">{card.subtitle3}</td>
                <td class="ps-4 pt-0.5 pb-0.25 border border-slate-100 border-opacity-20 border-r-0 ">{card.phone3}</td>
              </tr>
              <tr class="text-sm">
                <td class="pe-4 text-right pt-0.5 pb-0.25 border border-slate-100 border-opacity-20 border-l-0 ">{card.email}</td>
                <td class="ps-4 pt-0.5 pb-0.25 border border-slate-100 border-opacity-20 border-r-0 ">{card.address}</td>
              </tr>
              <tr class="text-sm">
                <td class="pe-4 text-right pt-0.5 pb-0.25 border border-slate-100 border-opacity-20 border-l-0 border-b-0 ">{card.city}</td>
                <td class="ps-4 pt-0.5 pb-0.25 border border-slate-100 border-opacity-20 border-r-0 border-b-0 ">{card.state}</td>
              </tr>
            </tbody>
          </table>
        </div>
    ))
  }
</div>

