---
type Props = {
  storeHeadCard: {
    title: string;
    subtitle1: string;
    address: string;
    city: string;
    state: string;
    zip: string;
    subtitle2: string;
    phone: string;
    email: string;
    subtitle3: string;
    phone2: string;
    phone3: string;
    storeManager: string;
    areaManager: string;
  }[];
};


// Extract storeHeadCard data from Astro's props
const { storeHeadCard } = Astro.props;

---

<!-- Container for store head cards -->
<div class=" bg-secondary text-primary-content border-slate-100 border-opacity-20 box-decoration-clone w-dvw h-48 ">
   <!-- Mapping through each card in storeHeadCard array -->
  {
    storeHeadCard.map((card) => (
      // <div class="card w-96 card-normal bg-primary text-primary-content">
        // <div class="card card-normal bg-primary text-primary-content">
        <div class=" grid grid-cols-1 border-x-[3px] border-y-[3px] border-transparent rounded-md pt-0 pb-0 mb-0">
          <h2 class=" text-center font-normal uppercase text-3xl line-clamp-2 divide-y-[1px] pt-2 px-2 tracking-wide">{card.title}</h2>
          <!-- Divider line -->
          <div class="w-lvw p-0 m-0 border-b-2 border-slate-100 border-opacity-20 "></div>
          <!-- Sections for displaying contact information -->
          <div class="info-section py-2 px-4 ">
            <div class="contact-section_1 grid grid-cols-3 pt-1 flex-col gap-2 flex-nowrap text-nowrap ">
            <div><p class="grid col-span-1 uppercase shrink grow text-right">{card.subtitle1} </p></div>  
            <div><p class=" grid col-span-2 " >{card.phone}</p></div>
            </div>
            <div class="contact-section_2 grid grid-cols-3 pt-1 flex-col gap-2 flex-nowrap text-nowrap ">
              <div><p class="grid col-span-1 uppercase shrink grow text-right">{card.subtitle2}</p></div>
              <div><p class=" grid col-span-2">{card.phone2}</p></div>
            </div>
            <div class="contact-section_3 grid grid-cols-3 pt-1 gap-2 flex-nowrap text-nowrap">
              <div><p class=" grid col-span-1 uppercase shrink grow text-right ">{card.subtitle3}</p></div>
              <div><p class=" grid col-span-2 ">{card.phone3}</p></div>
            </div>
            <div class="contact-section_3 grid grid-cols-3 pt-1 gap-2 flex-nowrap text-nowrap">
              <div><p class=" grid col-span-1 uppercase shrink grow text-right ">{card.email}</p></div>
              <div><p class=" grid col-span-2 ">{card.address}</p></div>
            </div>
          </div>
        </div>
      // </div>
    ))
  }
</div>