---
// Properties for each store
type StoreProps = {
  locName: string;
  locNum: number;
  address: string;
  city: string;
  state: string;
  zipcode: number;
  phoneNumber: string;
  faxNumber: string;
  email: string;
  hours: string;
  storeManager: string;
  areaManager: string;
};

// Extract the store props from Astro.props and cast them to the StoreProps type
const {
  locName,
  locNum,
  address,
  city,
  state,
  zipcode,
  phoneNumber,
  faxNumber,
  email,
  hours,
  storeManager,
  areaManager,
} = Astro.props as StoreProps;

const zipCode = zipcode.toString();
const storeAddress = `${address}, ${city}, ${state} ${zipCode}`;
---

<section
  class="mx-0 my-0 prose bg-transparent flex-auto resize-none no-scrollbar overflow-y-hidden overscroll-contain scroll-auto"
>
  <!-- // Render the store card -->
  <div data-pagefind-body
    class="store-card mx-auto m-0 mt-0 rounded-none "
  >
    <!-- {/* Conditionally render store information only if the corresponding values are not empty */} -->
    <section class="px-1 py-0  ">
      {
        locName !== "" ? (
          <h2 id="store-name" class="font-medium text-primary-content tracking-wide text-center uppercase">{locName}</h2>
        ) : null
      }
    </section>
    <div class="divider w-auto divider-secondary box-decoration-slice m-0 mt-0"></div>
    <section>
    </section>
    <section class="pt-1 pb-0 mt-0">
      <span class="grid grid-rows-1 grid-cols-2 divide-x-2  divide-secondary ">
        <div class=" col-start-1 pe-4">
          {
            locNum !== null ? (
              <p class="divider text-accent divider-end divider-secondary uppercase tracking-wide font-semibold ">
                Store
                </p>
              <p class="text-lg text-inherit font-normal tracking-wider ps-1 text-end -mt-2 ">
                {locNum}
              </p>
            ) : null
          }
        </div>        
      <div class=" col-start-2 ps-4">
        {
          hours !== "" ? (
          <p class="divider divider-start text-accent divider-secondary uppercase tracking-wide font-semibold ">
                Hours
                </p>
            <p class="text-lg text-inherit font-normal text-start pe-1 -mt-2">
              {hours}
            </p>
          ) : null
        }
      </div>   
      </span>
    </section>
    <section class="not-prose">
      {
        address !== "" || city !== "" || state !== "" || zipcode !== null ? (
          <div class="ms-8 mt-1 pt-1 pb-0">
            <p class="cat-name uppercase text-accent tracking-wide font-semibold -mb-2">
              Address
              </p>
              <div class="divider divider-secondary m-0" />
              <p class="text-base capitalize tracking-wide text-base-content font-normal -mt-0.5">{address}, </p>
            <p class="text-base capitalize tracking-wide text-base-content font-normal -mt-0.5">
              {city}, {state} {zipcode}
            </p>
          </div>
        ) : null
      }
    </section>
    <section class="pt-4 not-prose ">
        {
          faxNumber !== "" || null ? (
          <span class="grid grid-rows-1  grid-cols-2  divide-x-2 divide-secondary ">
          <div class=" col-start-1 pe-4">
          {
            locNum !== null ? (
              <p class="divider divider-end text-accent divider-secondary uppercase tracking-wide font-semibold ">
                Phone
                </p>
              <p class="text-base text-inherit font-normal tracking-wider ps-1 text-end -mt-2 ">
                {phoneNumber}
              </p>
            ) : null
          }
        </div>
      <div class=" col-start-2 ps-4 ">
        {
          faxNumber !== "" || null ? (
          <p class="divider divider-start text-accent divider-secondary uppercase tracking-wide font-semibold ">
                Fax
                </p>
            <p class="text-base text-inherit font-normal text-start pe-1 -mt-2">
              {faxNumber}
            </p>
          ) : null
        }
      </div>
      </span>
          ) : <div class="mt-1  pt-2 pb-0 me-8">
          <p class="cat-name uppercase text-accent text-end  tracking-wide font-semibold -mb-2">
            Phone
            </p>
            <div class="divider divider-secondary m-0" />
          <p class="text-base uppercase tracking-wide text-base-content text-end font-normal ps-0 pb-0 -mt-0.5">
            {phoneNumber}
          </p>
          </div>
        }
    </section>
    <section class="mt-0  -pb-1 ms-8 pt-0 ">
      {
        email !== "" ? (
        <p class="cat-name text-accent uppercase tracking-wide font-semibold -mb-2">
            Email
            </p>
            <div class="divider divider-secondary m-0 " />
          <p class="text-base sm:text-xs lg:text-lg lowercase tracking-wide text-nowrap text-clip text-base-content font-normal ps-0 pb-0 -mt-0.5 ">
            {email}
          </p>
        ) : null
      }
    </section>
    <div class=""></div>
  </div>
</section>
<style>
  #store-name {
    overflow: visible;
    word-break: keep-all;
  }

  h2 {
    overflow: visible;
    padding-top: 0;
    margin-top: 25px; 
    margin-bottom: 10px;
    font-size: 1.75rem;
  }
</style>

<script>
  // JavaScript function to bold the "Ext:" text in phone numbers
  window.onload = function () {
    const elements = document.querySelectorAll("p");
    elements.forEach((element) => {
      if (element.textContent && element.textContent.includes("Ext:")) {
        element.innerHTML = element.innerHTML.replace(
          "Ext:",
          "<strong>Ext:</strong>"
        );
      }
    });
  };
</script>
