---
// Properties for each store
type StoreProps = {
  locName: string;
  locNum: number;
  address: string;
  city: string;
  state: string;
  zipcode: number;
  phoneNumber: string;
  faxNumber: string;
  email: string;
  hours: string;
  storeManager: string;
  areaManager: string;
};

// Extract the store props from Astro.props and cast them to the StoreProps type
const {
  locName,
  locNum,
  address,
  city,
  state,
  zipcode,
  phoneNumber,
  faxNumber,
  email,
  hours,
  storeManager,
  areaManager,
} = Astro.props as StoreProps;

const zipCode = zipcode.toString();
const storeAddress = `${address}, ${city}, ${state} ${zipCode}`;
---

<section
  class="mx-4 my-4 prose flex-auto resize-none no-scrollbar overflow-y-scroll overscroll-contain scroll-auto"
>
  <!-- // Render the store card -->
  <div data-pagefind-body
    class="store-card card card-normal min-h-[31rem] max-h-[31rem] rounded-2xl bg-neutral border-4 border-secondary shadow-sm"
  >
    <!-- {/* Conditionally render store information only if the corresponding values are not empty */} -->
    <section class="px-1 sm:py-4 md:py-5 lg:py-6 ">
      {
        locName !== "" ? (
          <h2 id="store-name" class="font-medium tracking-wide text-center uppercase">{locName}</h2>
        ) : null
      }
    </section>
    <div class="divider divider-info m-0 mt-0"></div>
    <section>
    </section>
    <section class="py-2 ">
      <span class="grid grid-rows-1 grid-cols-2 divide-x-2 divide-info ">
        <div class=" col-start-1 pe-4">
          {
            locNum !== null ? (
              <p class="divider divider-end divider-info uppercase tracking-wide font-semibold ">
                Store
                </p>
    
              <p class="text-xl text-inherit font-normal tracking-wider ps-1 text-end -mt-2 ">
                {locNum}
              </p>
            ) : null
          }

        </div>
      <div class=" col-start-2 ps-4">
        {
          hours !== "" ? (
          <p class="divider divider-start divider-info uppercase tracking-wide font-semibold ">
                Hours
                </p>
            <p class="text-xl text-inherit font-normal text-start pe-1 -mt-2">
              {hours}
            </p>
          ) : null
        }

      </div>
      
      </span>
    </section>

    <section class="not-prose">
      <!-- {
        storeAddress !== "" ? (
          <p class="text-md text-inherit font-semibold ps-1">
            <strong>Address:</strong> {storeAddress}.
          </p>
        ) : null
      } -->
      {
        address !== "" || city !== "" || state !== "" || zipcode !== null ? (
          <div class="ms-5 mt-2">
            <p class="cat-name uppercase tracking-wide font-semibold -mb-2">
              Address
              </p>
              <div class="divider divider-info m-0" />
              <p class="text-lg uppercase tracking-wide text-base-content font-normal -mt-0.5">{address}, </p>
            <p class="text-lg uppercase tracking-wide text-base-content font-normal -mt-0.5">
              {city}, {state} {zipcode}
            </p>
          </div>
        ) : null
      }
      <!-- {
      city !== "" ? (
        <p class="text-md text-inherit font-semibold ps-1">{city}</p>
      ) : null
    }
    {
      state !== "" ? (
        <p class="text-md text-inherit font-semibold ps-1">{state}</p>
      ) : null
    } -->
      <!-- {
      zipCode !== "" ? (
        <p class="text-md text-inherit font-semibold ps-1">{zipCode}</p>
      ) : null
    } -->
    </section>
    <section class="py-2 not-prose ">
      
        {
          faxNumber !== "" ? (
          <span class="grid grid-rows-1 grid-cols-2 divide-x-2 divide-info ">
          <div class=" col-start-1 pe-4">
          
          {
            locNum !== null ? (
              <p class="divider divider-end divider-info uppercase tracking-wide font-semibold ">
                Phone
                </p>
    
              <p class="text-xl text-inherit font-normal tracking-wider ps-1 text-end -mt-2 ">
                {phoneNumber}
              </p>
            ) : null
          }

        </div>
      <div class=" col-start-2 ps-4">
        {
          hours !== "" ? (
          <p class="divider divider-start divider-info uppercase tracking-wide font-semibold ">
                Fax
                </p>
            <p class="text-xl text-inherit font-normal text-start pe-1 -mt-2">
              {faxNumber}
            </p>
          ) : null
        }

      </div>
    </span>
          ) : <div class="mt-3 ms-5">
          <p class="cat-name uppercase tracking-wide font-semibold -mb-2">
            Phone
            </p>
            <div class="divider divider-info m-0" />
          <p class="text-lg uppercase tracking-wide text-base-content font-normal ps-0 pb-2 -mt-0.5">
            {phoneNumber}
          </p>
          </div>
        }
      
      
    </section>
    <section class="mt-3 ms-5 ">
      <!-- {
        phoneNumber !== "" ? (
          <p class="cat-name uppercase tracking-wide font-semibold -mb-2">
            Phone
            </p>
            <div class="divider divider-info m-0" />
          <p class="text-lg uppercase tracking-wide text-base-content font-normal ps-0 pb-2 -mt-0.5">
            {phoneNumber}
          </p>
        ) : null
      }
      {
        faxNumber !== "" ? (
        <p class="cat-name uppercase tracking-wide font-semibold -mb-2">
            Fax
            </p>
            <div class="divider divider-info m-0" />
          <p class="text-lg uppercase tracking-wide text-base-content font-normal ps-0 pb-2 -mt-0.5">
            {faxNumber}
          </p>
        ) : null
      } -->
      {
        email !== "" ? (
        <p class="cat-name uppercase tracking-wide font-semibold -mb-2">
            Email
            </p>
            <div class="divider divider-info m-0" />
          <p class="text-lg uppercase tracking-wide text-base-content font-normal ps-0 pb-2 -mt-0.5 ">
            {email}
          </p>
        ) : null
      }
    </section>
    <div class=""></div>
  </div>
</section>

<style>
  #store-name {
    /* font-size: clamp(20px, 26px, 28px); */
    overflow: visible;
    word-break: keep-all;
  }

  h2 {
    /* font-size: clamp(18px, 22px, 24px); */
    overflow: visible;
    padding-top: 0;
    margin-top: 25px; 
    margin-bottom: 25px;
    font-size: 1.75rem;
    
  }

  p .prose {
    margin: 0;
  }
  
</style>

<script>
  // JavaScript function to bold the "Ext:" text in phone numbers
  window.onload = function () {
    const elements = document.querySelectorAll("p");

    elements.forEach((element) => {
      if (element.textContent && element.textContent.includes("Ext:")) {
        element.innerHTML = element.innerHTML.replace(
          "Ext:",
          "<strong>Ext:</strong>"
        );
      }
    });
  };
</script>
