---
type Props = {
  storeHeadCard: {
    title: string;
    subtitle1: string;
    address: string;
    city: string;
    state: string;
    zip: string;
    subtitle2: string;
    phone: string;
    email: string;
    subtitle3: string;
    phone2: string;
    phone3: string;
    storeManager: string;
    areaManager: string;
  }[];
};


// Extract storeHeadCard data from Astro's props
const { storeHeadCard } = Astro.props;

---

<!-- Container for store head cards -->
<div class=" rounded-md ">
   <!-- Mapping through each card in storeHeadCard array -->
  {
    storeHeadCard.map((card) => (
      // <div class="card w-96 card-normal bg-primary text-primary-content">
        // <div class="card card-normal bg-primary text-primary-content">
        <div class="card-body grid grid-cols-1 border-x-[3px] border-y-[3px] border-transparent rounded-md pt-0 pb-1 mb-2">
          <h2 class="card-title place-content-center divide-y-[1px] pt-2 tracking-wide ">{card.title}</h2>
          <!-- Divider line -->
          <div class=" w-full p-0 m-0 border-b-2 border-slate-100 border-opacity-20  "></div>
          <!-- Sections for displaying contact information -->
          <div class="info-section grid grid-rows-3 ">
            <div class="contact-section_1 pt-2 flex-nowrap grid grid-cols-3 gap-2  ">
            <div><h4 class=" grid col-span-1 uppercase  shrink grow text-right ">{card.subtitle1} </h4></div>  
            <div><h4 class=" grid col-span-2 " >{card.storeManager}</h4></div>
            </div>
            <div class="contact-section_2 grid grid-cols-3 pt-2 flex-col gap-2 flex-nowrap ">
              <div><h4 class="grid col-span-1 uppercase shrink grow text-right">{card.subtitle2}</h4></div>
              <div><h4 class=" grid col-span-2">{card.areaManager}</h4></div>
            </div>
            <div class="contact-section_3 grid grid-cols-3 pt-2 gap-2 flex-nowrap ">
              <div><h4 class=" grid col-span-1 uppercase shrink grow text-right ">{card.subtitle3}</h4></div>
              <div><h4 class=" grid col-span-2 ">{card.phone3}</h4></div>
            </div>
          </div>
        </div>
      // </div>
    ))
  }
</div>
<!-- <div class="divider divide-x-2 divide-y-2 divider-accent" /> -->
<style>
  .card {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 10px;
    
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
  }
  .card-title {
    font-weight: normal;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap;
    text-shadow: 3px 3px 34px #443f3f ;
  }
  
  .divider {
    margin-top: 0;
    margin-bottom: 3%;
  }
  h4 {
    font-weight: normal;
    font-size: medium;
  }
  p {
    /* font-weight: 600; */
  }
</style>
