---
import type { GetStaticPaths } from "astro";
import Data from '../../../data/Data.json';
import Main from '../../../layouts/Main.astro';
import CorpHeadCard from '../../../components/CorpHeadCard.astro';
import Footer from '../../../components/Footer.astro';
import SearchBar from '../../../components/SearchBar.astro';
import { Icon } from 'astro-icon/components';
import NavBar from '../../../components/NavBar.astro';

export async function getStaticPaths() {
    // Assuming 'Data' has a structure where each location has multiple departments
    const locations = Data.loctype.plant.locations;
    const departments = locations.flatMap(location => location.departments);

    // Flatten the nested structure and create an array of path objects
    const paths = locations.flatMap(location =>
        location.departments.map(department => ({
            params: {
                locationID: location.id.toString(),
                departmentID: department.id.toString(),
            },
            props: {
                employees: department.employees,
            },
        }))
    );

    // Since Astro expects an array of objects, each with a `params` key,
    // this structure is now correctly formed to map each department to its path.
    return paths;
}



const { departmentID, locationID, } = Astro.params;
const { employees } = Astro.props;

// const departmentID = Astro.params.departmentID;
const departments= Data.loctype.plant.locations.flatMap(locations => locations.departments);
const department = departments.find(dept => dept.id.toString() === departmentID.toString());


if (!department) {
  return Astro.redirect('/404');
}
---

<Main title={department.deptName}>
  <div class="flex flex-col h-screen">
    <section class=" ">
      <!-- {/* Render the corporate header card with relevant information */} -->
      <CorpHeadCard 
        headCard={[
          {
            title: `${department.deptName}`, // Title of the card
            subtitle1: "Dept. Phone",
            address: "", // Address line
            city: "", // City
            state: "", // State
            zip: "", // ZIP code
            subtitle2: "Dept. Email",
            phone: "(888) 555-5555", // Phone number
            email: "info@info.com", // Email address
            subtitle3: "", // Third subtitle
            phone2: "", // Second phone number
          },
        ]}
      />
    </section>
    <div class="divide divide-none divide-y-2 py-0"></div>
    

    <section
    class="flex-grow bg-gradient-to-t from-gray-300 to-slate-200  pb-0 pt-0 no-scrollbar overflow-y-scroll overscroll-contain scroll-auto scroll-mx-px bg-inherit"
      >
      <section class="shadow-sm drop-shadow-sm">
        <NavBar />
      </section>

      <!-- <h1>{department.deptName}</h1> -->
    <div class=" ps-2 py-1 pe-2 border-4 border-transparent overflow-y-auto no-scrollbar">
      <ul class="mt-4 ms-0.5">
        {department.employees.map(employee => (
          <li class="relative bg-secondary rounded-md shadow-md border-2 my-2 py-0 mx-0 transition ease-in duration-150 transform hover:-translate-y-1 hover:scale-100 ">
            <a href={`/plant/${locationID}/${departmentID}/${employee.id}`} class="block px-4 py-4 text-white rounded-lg hover:bg-primary hover:rounded-md hover:border-transparent hover:text-white transition-colors" >
              
              <div class=" justify-around items-center place-items-center text-base font-medium tracking-wider text-white mb-0.5 -px-4 p-0 capitalize truncate align-middle" >
                  <!-- Places a star beside employees who are managers -->
              {employee.isManager === 1 ? <Icon name="star" class="inline-block pe-2 h-6 w-auto"/> : ""} 
              {employee.firstName + " " + employee.lastName + " - " + employee.jobTitle + " "} 
                
                </div>
            </a>
          </li>
        ))}
      </ul>
    </div>  
    

    </section>

    <div class=" divide divide-none divide-y-2 py-0 "></div>

    <section class="box-border pb-3 mt-0">
      <!-- {/* Render the footer with navigation links */} -->
      <Footer
        bottomNav={[
          { icon: "home", label: "Home", to: "/" },
          { icon: "corporate", label: "Corporate", to: "/corporate" },
          { icon: "store", label: "Metal Mart", to: "/metalmart" },
          {
            icon: "service_center",
            label: "Service Center",
            to: "/servicecenter",
          },
          // { icon: "plant", label: "Plant", to: "/plant" },
        ]}
      />
    </section>
  </div>
</Main>

<style>
  
</style>

<script>
  
</script>